<h1>{{model.albumName}}</h1>
<h2>by {{model.bandName}}</h2>
<h2>reviewed by: {{model.reviewer}}</h2>
<h2>Rating: {{model.rating}}</h2>

<p>Review: {{model.description}}</p>

{{#if isEditing}}
  {{partial 'album/edit'}}
  <button {{action 'doneEditing'}}>Done</button>
{{else}}
  <button {{action 'edit'}}>Update Review</button>
  <button {{action 'delete'}}>Delete</button>
{{/if}}
